VITE_FIREBASE_API_KEY=AIzaSyDP-_qJDifpCQ8bsfTv2pbXcmIIgTDLO1Y
VITE_FIREBASE_AUTH_DOMAIN=vela-crm-20260420.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=vela-crm-20260420
VITE_FIREBASE_STORAGE_BUCKET=vela-crm-20260420.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=121081847097
VITE_FIREBASE_APP_ID=1:121081847097:web:d4dfe93c22d04635075ce8
